<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
        <!--  {% include logo.svg %}-->
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          <a class="header__link" href="{{ 'menu/contact' | relative_url }}" itemprop="url"><span itemprop="name">contact</span></a>          
<a class="header__link" href="{{ 'menu/about' | relative_url }}" itemprop="url"><span itemprop="name">About me</span></a>        
          <a class="header__link" href="{{ '/writing' | relative_url }}" itemprop="url">
            <span itemprop="name">writing</span>
          </a>  
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>



<header class="home">

  <div id="main" class="call-out"
       style="background-image: url('{{ site.header_image | relative_url }}')">
    <center>
      <br>
    <br>
    <br>
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
    <h1 class="masthead-title"> 
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
    <small class="masthead-subtitle">{{ site.description }}</small>
    {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}}
    <br>
    <br>
    <br>
</center>
  </h1>
  <h1>
      {% include menu.html %}
  </h1>
    </div>
</header>



  

