<header background:red class="masthead">
  <!--<h3 style="background:#000; color:#FFF" class="masthead-title">-->
  <!--<div style="background:url(图片地址); width:100px;height:100px;">div>-->
  <h2 font-size:12px; style="background:url(mountains.jpg); color:#FFF" class="masthead-title"
    <br><br><br><br>
     <h1 class="logo__heading">
                    <a class="logo__link" href="/">
                        Barnsley Council
                    </a>
                <img class="logo__print" alt="Barnsley Council" src="../assets/img/mountains.jpg">
                </h1>
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
    <small class="masthead-subtitle">{{ site.description }}</small>
    <br><br><br>
    {% include menu.html %}
  </h2>
</header>

