---
layout: default
title: Home
---

{% for post in paginator.posts %}

<style>
 *{margin:0;padding:0;}
 #herder{
     height:50px;
     background:blue;
 }
 .main-left{
     width:30%;
     height:250px;
     background:white;
     float:left;
 }
 .main-right{
     width:70%;
     height:250px;
     background:pink;
     float:right;
 }
 #footer{
     clear:both;
     height:50px;
     background:gray;
}
</style>
<!--</head>-->
<!--<body>-->
<!--<div id="herder">页头</div>-->
<div class="main-left"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/1.js?i=5abq1esh6am&s=220&m=0&v=false&r=false&b=ffffff&n=true&c=ff007e" async="async"></script></div>
<div class="main-right">At the starting point for my graduated study projects</div>
<!--</body>-->
 
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
